.scroll-to-top {
    @include position-on-screen(fixed, auto, $padding-to-screen-edge, 0, 150px);
    background-color: $color-main;
    padding: $padding-content;
    border-radius: $border-radius;
    z-index: 110;
    box-shadow: $shadow-md;
    color: $color-secondary;
    border: 1px solid $color-main;

    @media screen and (max-width: map-get($media-queries, tablet-min)) {
        @include position-on-screen(fixed, auto, $padding-to-screen-edge, 0, 20px);
    }

    span {
        color: $color-secondary;
    }

    transition: all 0.3s;
}

.scroll-to-top.hidden {
    bottom: -100px;
    transition: all 0.3s ease-in-out;
}
