.search-container {
    @include flexbox(center, flex-end, row, wrap, $content-gap);
    width: -webkit-fill-available; width: -moz-available;

    @media screen and (max-width: map-get($media-queries, tablet-max)) {
        display: unset;

        .btn {
            width: 100%;
            margin-top: 1rem;
        }
    }

    .criteria {
        @include flexbox(center, start, column, wrap);
        flex: 1 0 0;

        @media screen and (max-width: map-get($media-queries, tablet-max)) {
            flex: 0 0 auto;
            width: 100%;
        }

        input,
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid $color-main-dark;
            border-radius: 5px;
        }
    }
}
